/* Eliminamos la importación de los estilos predeterminados */
/* @import '~react-resizable/css/styles.css'; */

/* Bloquear la selección de texto en toda la página */
* {
  user-select: none; /* Previene la selección de texto */
}

.container {
  display: flex;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.sidebar {
  background-color: #ffffff;
  padding: 20px;
  box-shadow: 0px 0 0px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  height: 100%;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar-item {
  padding: 10px;
  font-size: 1.2rem;
  cursor: default;
  border-radius: 10px;
  transition: background-color 0.3s ease;
}

.sidebar-item:hover {
  background-color: #f5f5f5;
}

.sidebar-item.selected {
  background-color: #d6d6d6;
}

.project-list {
  padding: 11px 0 0 0;
  background-color: #fff;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.search-bar {
  margin-bottom: 0px;
  position: sticky;
  top: 0;
  z-index: 1;
  border-bottom: 1px solid #ddd;
  padding: 10px 11px;
  box-sizing: border-box;
}

.search-bar input {
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  border-radius: 10px;
  border: 1px solid #ddd;
  display: block;
  box-sizing: border-box;
  margin: 0;
}

.project-items {
  flex: 1;
  overflow-y: auto;
  overflow-x: hidden;
  padding-left: 11px;
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
}

.project-items:hover {
  scrollbar-color: #888 transparent;
}

.project-items::-webkit-scrollbar {
  width: 8px;
}

.project-items::-webkit-scrollbar-track {
  background: transparent;
}

.project-items::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
  opacity: 0;
  transition: opacity 0.3s;
}

.project-items:hover::-webkit-scrollbar-thumb {
  opacity: 1;
}

.project-items ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.project-items li {
  padding: 1px 10px;
  border-bottom: 1px solid #ddd;
  cursor: default;
  border-radius: 10px;
  transition: background-color 0.3s ease;
}

.project-items li:hover {
  background-color: #f5f5f5;
}

.project-items li.selected {
  background-color: #d6d6d6;
}

.project-details {
  user-select: none; /* Por defecto, no seleccionable */
  flex-grow: 1;
  padding: 20px;
  background-color: #fafafa;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow: hidden;
}

.project-details p,
.project-details h1,
.project-details h2,
.project-details h3,
.project-details strong,
.project-details span {
  user-select: text; /* Solo los elementos de texto son seleccionables */
}

.project-details header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.project-details .header-left {
  display: flex;
  align-items: center;
}

.project-details .header-left button {
  margin-right: 10px;
}

.project-details .delete-project {
  padding: 10px 20px;
  background-color: #dc3545;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.project-details .delete-project:hover {
  background-color: #c82333;
}

.project-details button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.project-details button:hover {
  background-color: #0056b3;
}

.project-details .new-project {
  padding: 10px 20px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.project-details .new-project:hover {
  background-color: #218838;
}

.project-body {
  margin-top: 20px;
}

.empty-state {
  text-align: center;
  font-size: 1.5rem;
  color: #aaa;
}

/* Hacer el fondo del ResizableBox transparente */
.transparent-sidebar {

  background-color: transparent;
}


/* Asegurar que la línea divisoria sea visible */
.resizable-sidebar,
.resizable-project-list {
  border-right: 1px solid #ddd; /* Color de la línea divisoria */
  position: relative;
}

/* Estilos esenciales para react-resizable */
.react-resizable {
  position: relative;
  display: flex;
  flex-direction: column;
}

.react-resizable-handle {
  position: absolute;
  width: 5px; /* Ancho del handle */
  height: 100%;
  top: 0;
  right: 0;
  cursor: ew-resize;
  z-index: 10;
  background-color: transparent; /* Asegurar que el fondo sea transparente */
  pointer-events: auto; /* Asegurar que capture los eventos del mouse */
}

/* Asegurar que no haya efectos visuales no deseados */
.react-resizable-handle::before,
.react-resizable-handle::after {
  content: none !important;
}

/* Evitar cambios de color al interactuar */
.react-resizable-handle:hover,
.react-resizable-handle:active {
  background-color: transparent;
}

/* Asegurar que el handle no afecte al contenido subyacente */
.react-resizable-handle {
  mix-blend-mode: normal;
}

/* Si deseas un indicador visual sutil, puedes agregar una línea */
/* Opcional: Indicador visual en el handle */
.react-resizable-handle::after {
  content: '';
  position: absolute;
  left: 50%;
  top: 20%;
  bottom: 20%;
  width: 1px;
  background-color: #ccc;
  transform: translateX(-50%);
}

.project-items {
  position: relative;
  z-index: 1;
}

/* Estilos para el modal */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  width: 400px;
  max-width: 90%;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
}

.modal-body {
  margin-bottom: 20px;
}

.modal-body label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.modal-body input,
.modal-body textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-sizing: border-box;
}

.modal-footer {
  display: flex;
  justify-content: flex-end;
}

.modal-footer button {
  padding: 10px 20px;
  margin-left: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.modal-footer button:first-child {
  background-color: #6c757d;
  color: #ffffff;
}

.modal-footer button:last-child {
  background-color: #28a745;
  color: #ffffff;
}

.modal-footer button:hover {
  opacity: 0.9;
}
.modal-body input,
.modal-body textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 1rem;
  font-family: Arial, Helvetica, sans-serif; /* Aplicar la misma fuente al textarea */
}

/* Estilo para el contenedor modal */
.modal {
  position: relative; /* Asegura que los elementos internos se posicionen correctamente dentro del modal */
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  width: 400px;
  max-width: 90%;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
}

/* Estilo para la cabecera del modal */
.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Estilo para el botón de cerrar el modal (X) */
.close-button {
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  color: #757575;
}

.close-button:hover {
  color: #000000; /* Cambia a rojo al pasar el cursor */
}
/**/