@import '~react-resizable/css/styles.css';

/* Bloquear la selección de texto en toda la página */
* {
  user-select: none; /* Previene la selección de texto */
}

.container {
  display: flex;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.sidebar {
  background-color: #ffffff;
  padding: 20px;
  box-shadow: 0px 0 0px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  border-right: 1px solid #ddd;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar-item {
  padding: 10px;
  font-size: 1.2rem;
  cursor: default;
  border-radius: 10px;
  transition: background-color 0.3s ease;
}

.sidebar-item:hover {
  background-color: #f5f5f5;
}

.sidebar-item.selected {
  background-color: #d6d6d6;
}

.project-list {
  flex: 1;
  padding: 11px 0 0 0;
  background-color: #fff;
  border-right: 1px solid #ddd;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

/* Contenedor de la barra de búsqueda */
.search-bar {
  margin-bottom: 0px;
  position: sticky;
  top: 0;
  z-index: 1;
  border-bottom: 1px solid #ddd;
  padding: 10px 11px;
  box-sizing: border-box;
}

/* Campo de búsqueda (input) */
.search-bar input {
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  border-radius: 10px;
  border: 1px solid #ddd;
  display: block;
  box-sizing: border-box;
  margin: 0;
}

.project-items {
  flex: 1;
  overflow-y: auto;
  overflow-x: hidden;
  padding-left: 11px;
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
}

.project-items:hover {
  scrollbar-color: #888 transparent;
}

.project-items::-webkit-scrollbar {
  width: 8px;
}

.project-items::-webkit-scrollbar-track {
  background: transparent;
}

.project-items::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
  opacity: 0;
  transition: opacity 0.3s;
}

.project-items:hover::-webkit-scrollbar-thumb {
  opacity: 1;
}

.project-items ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.project-items li {
  padding: 15px 10px;
  border-bottom: 1px solid #ddd;
  cursor: default;
  border-radius: 10px;
  transition: background-color 0.3s ease;
}

.project-items li:hover {
  background-color: #f5f5f5;
}

.project-items li.selected {
  background-color: #d6d6d6;
}

/* Permitir la selección de texto en el contenido del proyecto, incluyendo subtítulos */
.project-details {
  user-select: none; /* Por defecto, no seleccionable */
  flex: 2;
  padding: 20px;
  background-color: #fafafa;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow: hidden;
}

/* Permitir selección en los párrafos, encabezados y subtítulos del cuerpo del proyecto */
.project-details p,
.project-details h1,
.project-details h2,
.project-details h3,
.project-details strong,
.project-details span {
  user-select: text; /* Solo los elementos de texto son seleccionables */
}

.project-details header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.project-details .header-left {
  display: flex;
  align-items: center;
}

.project-details .header-left button {
  margin-right: 10px;
}

.project-details .delete-project {
  padding: 10px 20px;
  background-color: #dc3545;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.project-details .delete-project:hover {
  background-color: #c82333;
}

.project-details button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.project-details button:hover {
  background-color: #0056b3;
}

.project-details .new-project {
  padding: 10px 20px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.project-details .new-project:hover {
  background-color: #218838;
}

.project-body {
  margin-top: 20px;
}

.empty-state {
  text-align: center;
  font-size: 1.5rem;
  color: #aaa;
}

.resizer {
  width: 5px;
  cursor: ew-resize;
  background-color: transparent;
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 1;
  border: none;
}

.resizer-left {
  right: 0;
}

.resizer-between {
  left: 0;
  right: -2.5px;
}
  